@import '../../../assets/scss/global.scss';

.search-list-container {
  display: flex;
  text-align: left;
  padding: 10px;
  ul {
    list-style: none;
    width: 100%;
    padding: 0;

    li {
      width: 100%;
      padding: 2px;
      border-radius: 7px;
      border-bottom: 1px solid rgba(128, 128, 128, 0.151);
      &:hover {
        cursor: pointer;
        color: $clr1;
      }
    }
  }
}

.no-recent-searches {
  padding: 10px;
  color: grey;

  p {
    width: 20ch;
  }
}
